@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'var';


html{
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}

*{
  font-family: 'Noto Sans', sans-serif;
}
p{
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
}
.home-banner {
  background: url(../images/connect-bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  position: relative;
  #canvas{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
  }
  .logo-wrap {
    margin: auto;
    max-width: 1000px;
    padding: 0 20px;
  }
}
.navbar, .navbar-light{
  background: $p-red;
  .navbar-brand{
    margin-left: auto;
  }
  .navbar-nav{
    padding-left: 80px;
    .nav-item{
      margin-right: 15px;
      a.home{
        background:$m-blue;
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        bottom: 0;
        text-align: center;
        font-size: 35px;
        line-height: 56px;
      }
      a.nav-link{
        color: $white;
      }
    }
  }
  .mb-home{
    background:$m-blue;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    bottom: 0;
    text-align: center;
    font-size: 35px;
    line-height: 75px;
    text-decoration: none;
  }
}
.ceo-msg{
  padding: 5% 0;
  background: lighten($l-blue, 20%);
  span.icon-quotes.quote-icon {
    font-size: 60px;
    margin-left: -8px;
  }
  .msg-wrap{
    margin: auto;
    @media (max-width:767px) {
      margin-top: 50px;
    }
    .ceo-wrap{
      margin: auto;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      overflow: hidden;
      @media (max-width:767px) {
        width: 270px;
        height: 270px;
      }
      img{
        object-fit: cover;
      -o-object-position: center;
      object-position: center;
      width: 100%;
      height: 100%;
      }
    }
    .ceo-message{
      margin-top: auto;
      margin-bottom: auto;
      @media (max-width:767px) {
        margin-top: 50px;
        padding: 0 40px;
      }
    }
  }
}

.agenda{
  overflow: hidden;
  padding: 60px 0;
  
  .agenda-img{
    margin: auto;
    max-width: 350px;
    padding: 80px 0;
    @media (max-width:767px) {
      max-width: 270px;
    }
  }
  .download{
    display: block;
    position: relative;
    padding-left: 60px;
    color: $black;
    text-decoration: none;
    margin-top: 50px;
    span{
      color: $s-red;
      font-size: 50px;
      position: absolute;
      left: 0;
      bottom: 0;
      line-height: 1;
    }
    small{
      color: $s-red;
      font-size: 20px;
      margin-left: 15px;
    }
    @media (max-width:767px) {
      margin-top: 50px;
      padding-left: 80px;
      padding-right: 30px;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-left: 25px;
      margin-right: 25px;
      background: $s-red;
      margin: 0;
      color:$white;
      font-size: 16px;
      span{
        color:$white;
        font-size: 50px;
        position: absolute;
        left: 23px;
        bottom: 50%;
        line-height: 1;
        margin-bottom: -25px;
      }
      small{
        right: 20px;
        top: 50%;
        margin-top: -15px;
        position: absolute;
        color:$white;
      }
    }
  }
  .tab-wrap{
    padding: 0 2.5rem;
    padding-left: 0;
    @media (max-width:767px) {
      padding: 0;
    }
    
    .nav.nav-tabs{
      margin-bottom: -1px;
    }
    .nav-item{
      width: 50%;
      button{
        width: 100%;
        font-size: 4.938rem;
        text-align: center;
        font-weight: bold;
        background: $black;
        color: $white;
        border-radius: 0;
        line-height: 1;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        span{
          font-size: 1rem;
          display: block;
          font-weight: normal;
        }
      }
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
      background: $s-red;
    }
    .tab-content{
      .table-wrap{
        border: 1px solid $s-red;
        padding: 2.875rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        @media (max-width:767px) {
          padding: 1.5rem;
        }
        h3.row{
          font-size: 1.25rem;
          font-weight: bold;
          border-bottom: 1px solid $black;
          @media (max-width:767px) {
            display: none;
            
          }
        }
        @media (max-width:767px) {
          .res-title{
            font-size: 1.25rem;
            font-weight: bold;
          }
          .col-sm-2{
            font-weight: bold;
            font-size: 1.2rem;
          }
        }
        .row{
          font-size: 1.25;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }
}
.footer-section{
  margin-top: 50px;
  .container{
    position: relative;
  }
  .footer{
    background: $black;
    padding: 100px 30px;
    padding-top: 150px;
    @media (max-width:767px) {
      padding-left: 0;
      padding-right: 0;
    }
    article{
      ul{
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li{
          text-align: center;
          margin: 0;
          display: inline-block;
          padding: 0;
          @media (max-width:767px) {
            margin-bottom: 25px;
          }
          a{
            color: $white;
            text-decoration: none;
            margin: 15px;
            padding: 20px;
            @media (max-width:767px) {
              padding-left: 12px;
              padding-right: 12px;
              margin: 0;
              flex: 16px;
            }
          }
        }
      }
      &.sm{
        margin-top: 80px;
        li{
          a{
            font-size: 50px;
          }
        }
      }
    }
  }
  .tagline{
    position: absolute;
    top: -191px;
    background: $p-red;
    left: 0;
    right: 0;
    color: $white;
    text-align: center;
    padding: 25px;
    @media (max-width:767px) {
      left: 30px;
      right: 30px;
      font-size: 16px;
    }
  }
}